---
layout: default
---

<div class="home bigger">
  <h2>Yes, да, 是, <span class="sinhala">ඔව්</span>, نعم...</h2>
  <h1>I support a multilingual web.</h1>
  <p>SLANGgroup.org: {i18n reference for coders}</p>
  <a href="#">Tweet</a>
  <a href="#">Share</a>
  <a href="#">Subscribe</a>
  <hr/>

  <p>The code that programmers write to make the web can support the world's languages. Let's make a reference explaining how and why.</p>
  <strong>Read on...</strong>
</div>

<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      {% if post.categories.first == 'meta' %}
        <li>
          <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

          <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </h2>
          <p>
            {{ post.content | split:'<!--break-->' | first }}
            {% if post.content contains '<!--break-->' %}
              <a href="{{ post.url }}">read more</a>
            {% endif %}
          </p>
        </li>
      {% endif %}
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
